# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [5]:
num_int = 6

print(num_int)
print(type(num_int))

6
<class 'int'>

##### Assinging float

In [6]:
num_float = 6.12

print(num_float)
print(type(num_float))

6.12
<class 'float'>

In [7]:
num_float_again = 3.

print(num_float_again)
print(type(num_float_again))

3.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [20]:
num1 = 2.0
num2 = 5

result = num1 + num2
print(result)

# short-hand version
result += 3 # equivalent to result = result + 3
print(result)

7.0
10.0

In [22]:
result += 3
print(result)

16.0

##### Subtraction

In [23]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1 # result_diff = result_diff -1
print(result_diff)

3.0
2.0

##### Multiplication

In [18]:
result_prod = num1 * num2
print(result_prod)

result_prod *= 2

print(result_prod)

10
20

In [29]:
result_prod *= 2
print(result_prod)

1280

##### Division

In [19]:
result_div = 10/num1 # division always gives a float
print(result_div)

result_div /= 2
print(result_div)

5.0

##### Exponential

In [30]:
square = 5 ** 2
print(square)

square **= 3
print(square)

25
15625

##### Floor Division

In [32]:
# sometimes reffered to as integer division

result_floor = 19 // 5
print(result_floor)

result_floor //= 2
print(result_floor)

3
1

##### Modulo

In [34]:
# returns the remainder of the division equation

result_mod = 19 % 5
print(result_mod)

result_mod %= 3
print(result_mod)

4
1

### String Input-Output

##### String Assignment

In [35]:
name1 = 'Ibsy'
print(name1)
print(type(name1))

Ibsy
<class 'str'>

In [ ]:
name2 = "Ibsy"
print(name2)
print(type(name2))

In [36]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [37]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: invalid syntax (1937463103.py, line 1)

In [38]:
quote1 = 'Brian said, "I love Python!"'
print(quote1)

Brian, said, "I love Python!"

In [39]:
quote2 = "Brian said, "I love Python!""
print(quote2)

SyntaxError: invalid syntax (329974988.py, line 1)

##### Escape Characters

In [40]:
print('You can\'t do that')

You can't do that

In [41]:
print('Hello
      how are you')

SyntaxError: EOL while scanning string literal (674046849.py, line 1)

In [42]:
print('Hello \
how are you?')

Hello how are you?

In [43]:
# \n - newline character
print("Hello\nhow are you?")

Hello
how are you?

In [44]:
# \t - tab character
print("Hello\thow are you?")

Hello	how are you?

In [45]:
# \b - backspace character, don't know when you would use this
print("Hello\bhow are you?")

Hellohow are you?

In [47]:
# Raw String
print(r"Hello\nhow are you?")

Hello\nhow are you?

In [48]:
print(r'You can\'t do that')

You can\'t do that

##### String Concatenation

In [51]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr." # full_name = full_name + ", Jr."
print(full_name)

John Smith
John Smith, Jr.

In [53]:
num_a = 10
num_b = '10'

add = num_a + num_b

print(add)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [55]:
# green is a built in type converter
num_b_int = int(num_b)
print(num_b, type(num_b))
print(num_b_int, type(num_b_int))

add = num_b_int + num_a
print(add)

10 <class 'str'>
10 <class 'int'>
20

In [59]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

print(num_a_str + num_b)

10 <class 'int'>
10 <class 'str'>
1010

In [58]:
age = input('What is your age? ')
if age > str(18):
    print('You can play the lottery')
else:
    print('You are too young')

What is your age? 21
You can play the lottery

##### .format() and f-strings

In [65]:
# string.format(*values)

name = 'Ibsy'
age = 65
home = 'Branson'

print("Hello my name is {} and I am {} years old and I am from {}".format(name, age, home))
print(f"Hello my name is {name} and I am {age} years old and I am from {home} {max([1, 2, 8, 4, 5])}")

Hello my name is Ibsy and I am 65 years old and I am from Branson
Hello my name is Ibsy and I am 65 years old and I am from Branson 8

##### Old Way (python 2)

In [66]:
print("Hello my name is %s and I am from %s" %(name, home))

Hello my name is Ibsy and I am from Branson

In [67]:
result = 10 + 5
print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [72]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

new_year = int(year) + 1 #integer value

print("I drive a {} {} {} {}".format(color, new_year, make, model))

I drive a blue 2023 Ford Focus

### Booleans

In [73]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [74]:
bool_f = False
print(bool_f)
print(type(bool_f))

False
<class 'bool'>

### If Statements

In [75]:
# if <expression>:
#     <statement>
# IF the EXPRESSION evaluates to TRUE:
#     EXECUTE THE INDENTED LINES

if True:
    print("Hello this is true")

Hello this is true

In [76]:
if False:
    print("Hello this is false")

In [78]:
print('Start of code')

if True:
    print('Hello')
    print('How are you?')
    print('Good, you?')
print('End of code.')

Start of code
End of code.

In [84]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num1 == num2 * num3)
print(num1 >= num1)
print(num2 != num1/num3)

True
True
True
False

In [88]:
if num1 > num2:
    print('num1 is greater than num2') # print(f'{num1} is greater than {num2}')

if num1 == num2 * num3:
    print('num1 is equal to num2 times num3')

if num2 != num1/num3:
    print('num2 does not equal num1 divided by num3')

num1 is greater than num2
num1 is equal to num2 times num3

## Using 'and'/'or' with If Statements

In [91]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F
num1 = 10
num2 = 5
num3 = 2

if num1 > num2 and num2 > num3:
    print('Both conditions are True')

if num1 > num2 or num2 < num3:
    print('At least one condition is True')

Both conditions are True
At least one condition is True

### Else Statements

In [94]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 48

if rider_height >= required_height:
    print('Enjoy the ride!')
else:
    print('Sorry, you are not tall enough to ride the ride :(')

Sorry, you are not tall enough to ride the ride :(

### Elif Statements

In [99]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
with_a_parent = 14

movie_goer_age = 15
has_parent = True

if movie_goer_age >= required_age:
    print('Enjoy the film!')
elif movie_goer_age >= with_a_parent and has_parent:
    print('You may enjoy this movie with adult supervision')
else:
    print('You are not old enough to see this film')

You may enjoy this movie with adult supervision

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [107]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00

if person_age < 9:
    print(f"Your ticket price is ${ticket*0.5}0.")
elif person_age >= 65:
    print(f"Your ticket price is ${ticket*0.75}0.")
else:
    print(f"Your ticket price is ${ticket}.")

# :.2f will give you two decimal places
# ex ticket * 0.75: .2f

Your ticket price is $5.00.

### Lists

##### Declaring Lists

In [109]:
# lists are mutable
# they are an ordered collection of data

l_1 = [] # empty list delcaration/assigment

print(l_1)
print(type(l_1))
#          0       1        2       3       4        5         6
names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
<class 'list'>

##### Indexing a List

In [118]:
# list[index]
# list[start: stop]
# list[start: stop: step] 

#start in INclusive, stop is EXclusive

#single item
print(names[4])
print(names[-7])

# Print the list starting at index 2 and end at index 5
print(names[2: 6])

# Print the list starting at indez 2 and going to the end
print(names[2:])

# Print the list starting at the beginning and going to the 5th index
print(names[:6])

# Print the list starting at index 1 and ending at index 5 and only every other
print(names[1:6:2])

# Every other element
print(names[::2])

# Reverse the list
print(names[::-1])

Frank
Max
['Kathy', 'Bob', 'Frank', 'Natalie']
['Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie']
['Cindy', 'Bob', 'Natalie']
['Max', 'Kathy', 'Frank', 'Jim']
['Jim', 'Natalie', 'Frank', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [123]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [122]:
# list.append(value_to_append) - add value to end of the list

print(names)
names.append('Ibsy')

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'ibsy']
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'ibsy', 'Ibsy']

##### .insert()

In [124]:
# list.insert(index,value)

print(names)

names.insert(2, 'Michael')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'ibsy', 'Ibsy']
['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'ibsy', 'Ibsy']

##### .pop()

In [126]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
print(names)

my_name = names.pop()

print(names)
print(my_name)

['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'ibsy']
['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
ibsy

In [127]:
name_3 = names.pop(3)

print(names)

print(name_3)

['Max', 'Cindy', 'Michael', 'Bob', 'Frank', 'Natalie', 'Jim']
Kathy


##### .index()

In [129]:
for _ in range(5):
    names.append('Bob')
    
print(names)

['Max', 'Cindy', 'Michael', 'Bob', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

In [131]:
# list.index(value) - the index of the first item to match the value
print(names.index('Bob'))

7


##### .count()

In [132]:
# list.count(value) - the number of times the value appears in the list
print(names.count('Bob'))

6


##### .remove()

In [133]:
# value to be removed , not index - only removes the first instance of that value
print(names)

names.remove('Bob')

print(names)

['Max', 'Cindy', 'Michael', 'Bob', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']
['Max', 'Cindy', 'Michael', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

##### del()

In [134]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del names[2]

print(names)

['Max', 'Cindy', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

##### clear()

In [135]:
print(names)

names.clear()

print(names)

['Max', 'Cindy', 'Frank', 'Natalie', 'Jim', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']
[]

##### Concatenating Two Lists

In [136]:
# will append two lists together, not add up the elements in each list

list_1 = [1, 2, 3]
list_2 = [4, 5, 6]

combo_list = list_1 + list_2

print(combo_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [142]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other
names = ['Max', 'Sam', 'Josh', ['Sally', 'Susan', 'Tameka']]

print(names)
print(names[3])
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Susan', 'Tameka']]
['Sally', 'Susan', 'Tameka']
Susan

### For Loops

In [145]:
# for <keyword> in <iterable>:
#     <statement>
print('Code start')
for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)
    print("Hello the x variable is equal to:", x)

print('Code end')

Code start
5
Hello the x variable is equal to: 5
10
Hello the x variable is equal to: 10
15
Hello the x variable is equal to: 15
20
Hello the x variable is equal to: 20
25
Hello the x variable is equal to: 25
30
Hello the x variable is equal to: 30
35
Hello the x variable is equal to: 35
40
Hello the x variable is equal to: 40
Code end

In [146]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

In [147]:
full_name = 'Ibsy Matute'

for letter in full_name:
    print(letter)

I
b
s
y

M
a
t
u
t
e

##### Continue Statement

In [ ]:
# will continue to next iteration

In [149]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

##### Break Statement

In [ ]:
# will break out of current loop

In [150]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        break
    print(num)

1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [153]:
people = ['Ryan', 'Mickey', 'Janet', 'Catherine']

for peeps in people:
    # TODO: Send each user an email
    pass
print(people)

['Ryan', 'Mickey', 'Janet', 'Catherine']

In [154]:
if 'Ibsy' in people:
    pass

In [155]:
def some_func():
    pass
some_func()

##### Nested/Double For Loops

In [160]:
nums = [1, 2, 3, 4] # these get complex really fast # try to avoid these nested for loops

for i in nums:
    print(i)
    for j in nums:
        print(f"i = {i}, j = {j}")

1
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
2
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
3
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
4
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [161]:
# while <conditional>:
#     <statement to run while condition is true>

my_super_cool_num = 0

while my_super_cool_num < 20:
    print(my_super_cool_num)
    my_super_cool_num += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [163]:
x = 0

while x < 50:
    if x % 5 == 0:
        x += 1
        continue
    print(x)
    x += 1

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

##### Looping 'While True'

In [164]:
while True:
    keep_playing = input("Would you like to keep playing this game? y/n ")
    if keep_playing == 'n':
        break
    else:
        print("Let's start again!")

Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n y
Let's start again!
Would you like to keep playing this game? y/n n

### Built-In Functions

##### input()

In [262]:
# input(question) => ALWAYS RETURNS A STRING
answer = input('What is the answer to this prompt? ')

print(answer)

What is the answer to this prompt? Today is Tuesday.
Today is Tuesday.

In [263]:
print(type(answer))

<class 'str'>

In [267]:
age = input('How old are you? ')

print(type(age))

age_in_five = int(age) + 5

print(f"You will be {age_in_five} in five years.")

How old are you? 10
<class 'str'>
You will be 15 in five years.

##### range()

In [273]:
# range(stop)
# range(start, stop)
# range(Start, Stop, Step)
# produces a sequence of integers from start (inclusive) to stop (exclusive) by step (default 1)

for num in range(10,20,2):
    print(num)

10
12
14
16
18

In [276]:
# will always line up with the indices of the list
some_list = ['a', 'b', 'c','d','e','f','g']

print(len(some_list))

for i in range(len(some_list)):
    print(i, some_list[i])

7
0 a
1 b
2 c
3 d
4 e
5 f
6 g

In [277]:
# using an _ with the for range meand do not care about numbers, just want to do it n times
for _ in range(10): #underscore means doing it x amount of times
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

##### len()

In [278]:
# check Length of variable
cities = ['Chicago', 'New York', 'Lost Angeles']
print(len(cities))

3

In [279]:
city = 'Chicago'
length = len(city)
print(length)

7

##### help()

In [259]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [282]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

x = 4.87
print(isinstance(x, float))

if isinstance(x, float):
    print("the number is a float")

True
the number is a float

### Try and Except

In [290]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

number_test = 5

while True:
    try:
        user_guess = int(input("Guess a number: "))
        x = 5/user_guess
        if user_guess == number_test:
            print(f"That is correct! {number_test} was the number")
            break
        print("That is incorrect. Please Try again")
    except ValueError: # as soon as an error is raised it goes directly to this except you can specify certain errors
        print("That is not a valid guess. Please enter an integer e.g. 1 instead of one.")
    except:
        print("Hello")

Guess a number: 0
Hello
Guess a number: 5
That is correct! 5 was the number

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [291]:
# 0
# 1
# 8
# 27
# 64
# 125
# 216
# 343
# 512
# 729
# 1000

# print out cubed numbers **3
# up to the total value 1000
# break once the cubed number is over 1000 

#Brian
# i = 0
# while i ** 3 <= 1000:
#     print(i ** 3)
#     i += 1

num = 0

while True:
    num += 1
    if num ** 3 > 1000:
        break
    print(num ** 3)
    
# Alex
# for num in range(1001):
#     if num ** 3 < 1001:
#         print(num ** 3)
#     else:
#         break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [294]:
# HINT::
# An else after an if runs if the if didnt (evaluates to False)
# An else after a for runs if the for didnt break
# 2-100 list of all the prime numbers 

# x= 10
# y = 20

# for i in [1,2,3, 4, 5]:
#     if i == 7:
#         print('Hello')
# else:
#     print('Goodbye')

# Alex
# notprimes = []
# for num in range(2, 101):
#     for div in range(2, num):
#         if num % div == 0:
#             notprimes.append(num)
#             break

# print(notprimes)

# primes = []
# for num in range(2, 101):
#     if num not in notprimes:
#         primes.append(num)
        
# print(primes)

# for num in range(2,101):
#     if num % num == 0:
#         print(num)
    
# Brian
for i in range(2,101):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [298]:
user_age = int(input('How old are you? '))

if user_age < 18:
    print('kids')
elif user_age < 65:
    print('adults')
else:
    print('senior')

How old are you? 75
senior